# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.*
.env.local
!.env.exemple

# MacOS specific
.DS_Store

# Local Database (SQLite, si utilisé localement)
portfolio.db
portfolio.db-shm
portfolio.db-wal

# Assets statiques ou générés localement qu'on ne veut pas versionner
/public/assets/images/*.jpg
/public/assets/images/*.svg
/public/assets/images/*.png
/public/assets/images/*.webp
/public/assets/documents/*.pdf
!/public/assets/images/logo.svg
!/public/assets/images/icon.ico

# Ne pas versionner le index.html car il est généré par le service
# public/index.html